/* .landing{
    background-image: url("../assets/bg.svg");
    background-size: 100% 100%;
} */

.border-container {
    margin-right: 10%;
    margin-left: 10%;
}
.about-text {
    bottom: 3rem;
}
@media (min-width: 640px) {
    .border-container {
        margin-right: 15%;
        margin-left: 15%;
    }
    .about-text {
        bottom: 6rem;
    }
}
